body {
  background-color: #f4f1ed;
  font-family: Helvetica, sans-serif;
}
#pick-your-choice {
  text-align: center;
}

.choice {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.choice button {
  text-transform: capitalize;
}

.choice button {
  width: 80px;
}

.container-nextround {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#Choice-Howmany-Round {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#total-round {
  text-align: center;
  margin-bottom: 20px;
}

#current-round {
  text-align: center;
  margin-bottom: 20px;
}

#total-round-win {
  margin-top: 20px;
  text-align: center;
}

#img-container {
  display: flex;
  justify-content: center;
}
#getValue {
  margin-left: 20px;
}

#table-container {
  display: none;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.next-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
